# ─────────────────────────────────────────────
# AUTH SERVICE ENVIRONMENT VARIABLES
# ─────────────────────────────────────────────
# NEVER push this file to GitHub
# Add .env to your .gitignore

# Server Configuration

Port=3001;
NODE_ENV=development

# MongoDB Connection
# This points to the auth-specific MongoDB container
# 'auth-mongodb' is the Docker service name we will set up soon
MONGODB_URI=mongodb://admin:password123@auth-mongodb:27017/syncspace-auth?authSource=admin

# JWT Secret (we will use this in Day 4 for login tokens)
# In production this must be a long random string
JWT_ACCESS_SECRET=M$7xQ2!nV9@kR4#pZ1^tL8&cW5%yH3*j
JWT_ACCESS_EXPIRY=15m

JWT_REFRESH_SECRET=F9#uT4&bN1!qX7@mK5^zP2$rL8%vC3*Y
JWT_REFRESH_EXPIRY=7d