PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb://admin:password123@auth-mongodb:27017/syncspace-auth?authSource=admin
JWT_ACCESS_SECRET=K#7m!P2@xL9$Qv4&nT8*zR1^cW5%hY3?
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=J8&vN#3q!Xr7$Lp2@Zm5^Kd9*Tw1%Hy4
JWT_REFRESH_EXPIRY=7d
